nav ul {
  display: flex;
  gap: 45px;
  padding: 20px;
}

nav {
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
ul li {
  list-style: none;
}
